*.tlog
*.idb
VS2013/Debug/
VS2013/OpenRTSP.v12.suo
VS2013/OpenRTSP_VS2013.sdf
VS2013/OpenRTSP_VS2013.suo
VS2013/OpenRTSP_VS2013.v12.suo
UsageEnvironment/UsageEnvironment/Release/
UsageEnvironment/UsageEnvironment/Debug/
testProgs/testH264VideoStreamer/Debug/
BasicUsageEnvironment/BasicUsageEnvironment/Debug/
BasicUsageEnvironment/BasicUsageEnvironment/Release/
groupsock/groupsock/Debug/
groupsock/groupsock/Release/
liveMedia/liveMedia/Debug/
liveMedia/liveMedia/Release/
mediaServer/mediaServer/Debug/
*.exe
testProgs/OpenRTSPClient/Debug/
*.obj
